<%- include("partials/header"); -%>
    <h1>Contact</h1>
    <p>Telefone:15981015876</p>
     <p>email:janaina.silvaacademico@gmail.com</p>
    <p> <%= contactContent  %> </p>
<%- include("partials/footer"); -%>
